html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
section {
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}
section:nth-child(even) {
  background-color: lightgray;
}
nav {
  top: 0;
  position: sticky;
}
.navigation {
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
.navigation .nav-item {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation .nav-item .nav-item__link {
  display: block;
  padding: 1rem;
  background-color: grey;
  text-decoration: none;
  color: white;
}
.navigation .nav-item .nav-item__link:hover {
  color: black;
  background-color: rgb(235, 251, 253);
}
.navigation .nav-item .nav-item__link.active {
  color: black;
  background-color: rgb(235, 251, 253);
  border-bottom: 2px solid navy;
}
